@charset "utf-8";

html, body, body>table {
	width: 100%;
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #f0f0f0;
}

body, th, td, input {
	font-family: tahoma, verdana, arial;
	font-size: 11px;
}

body>table td {
	vertical-align: top;
	border: 1px solid #CCC;
	padding: 16px;
}

a {
	text-decoration: none;
}

.remove {
	text-decoration: underline;
	color: #cc0000;
}
